<header>
</header>

<div class='main'>
  <div class='games'>
    <div class='game'>ゲーム一覧</div>
  </div>
  <div class='click'>
    <%= link_to(click_path, class:'btn') do %>
      <span>クリックゲーム</span>
    <% end %>
  </div>
  <div class='click'>
    <%= link_to(omikuji_path, class:'btn') do %>
      <span>おみくじ</span>
    <% end %>
  </div>
</div>

<footer>
</footer>